@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

.background {
  background-color: rgb(236, 239, 243); 
}

.topnav {
  overflow: hidden;
  margin-top: 10px; 
  margin-right: 120px;
}
  
.topnav a {
  float: right;
  color:rgb(135, 144, 161);  
  text-align: left;
  padding: 16px 20px;
  text-decoration: none;
  font-size: 17px;
  font-family: "Source Sans Pro", arial;
}

.topnav a:hover{
  text-decoration: underline;
}

.first-content {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  text-align: center; 
}

.first-content h1 {
  font-size: 58px;
  font-family: "Source Serif Pro", Serif;
  margin-bottom: 50px;
  margin-top: 50px;
  margin-right: 180px;
  margin-left: 180px;
}

.first-content p {
  font-size: 23px;
  margin-right: 255px;
  margin-left: 255px;
  font-family: "Source Sans Pro", arial;
  color:rgb(135, 144, 161); 
}

.logo {
  display: flexbox; 
  float: left;
  margin-top: 10px; 
  margin-left: 50px;
}

.red-text {
  color: red;
}

.box-getstarted{

}

.box-getstarted{
  width: 45%;
  height: 150px;
  margin: auto;
  padding: 20px;
  border-radius: 5px;
}

.box-getstarted form{
  width: 100%;
  margin: auto;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 3px 0 rgba(0,0,0,0.19);
  border-radius: 2px;
}

.input1{
  width: 65%;
  box-sizing: border-box;
  height: 50px;
  border-style: none;
  border-radius: 2px 0 0 2px;
  font-family: Source Sans Pro, arial;
  font-size: 18px;
  padding-left: 20px;
}

.input2{
  width: 35%;
  box-sizing: border-box;
  height: 50px;
  border-style: none;
  border-radius: 0 2px 2px 0;
  background-color: #65D777;
  font-family: Source Sans Pro, arial;
  color: white;
  font-size: 18px;
  font-weight: 600;
}

.second-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 15px; 
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center;
  font-size: 17px;
  font-family: "Source Sans Pro", arial;
  color:rgb(135, 144, 161);  
}

h4 {
  margin-top: 20px;
}

.column img {
  max-width: 100%; 
}

.third-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 20px;
  padding: 20px;
}

.row {
  display: grid;
  grid-template-rows: repeat(6, 1fr); 
  align-items: center;
  padding: 20px;
  background-color: white;
}

.cell {
  display: flex;
  align-items: center;
  width: 100%;
}

.circle {
  width: 50px;
  height: 50px;
  background-color: #65D777;
  border-radius: 50%;
  margin-right: 20px;
}

p {
  margin: 0;
}